name: Auto Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: install
        run: npm install

      - name: Build
        run: npm run build
        env:
          VITE_SUPABASE_URL: ${{secrets.VITE_SUPABASE_URL}}
          VITE_SUPABASE_PUBLISHABLE_KEY: ${{secrets.VITE_SUPABASE_PUBLISHABLE_KEY}}

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy
        run: firebase deploy --project study-record-fca36 --token "${{ secrets.FIREBASE_TOKEN }}"

      - name: test
        run: npm run test
