name: CI/CD Actions

on:
  push
  # branches:
  #   - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build
      - run: npm run build

  # deploy:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Deploy
  #     - run: npm deploy firebase
